<!DOCTYPE HTML> <html lang="en"> 

<head> <meta http-equiv="content-type" content="text/html; charset=utf-8"> 
 <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
 <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<title>hot seat</title> 
</head> 
<body id='body'> 
heeyyyy

<button onclick="startStream()">start stream</button>

</body>


<script>

	namespace = '/test';
	var socket = io(namespace);

	function startStream() {
		socket.emit('broadcast');
	}

	socket.on('stream', function() {
		console.log('starting stream....')
	});

	$(document).ready(function(){
		socket.on('connect', function() {
			console.log('client connected')
		    socket.emit('hello', {data: 'I\'m connected!'});
		});
	});

</script>
</html>